# RabbitMQ Configuration
CLOUDAMQP_URL=amqp://user:password@rabbitmq-host:5672

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
