# Database
DATABASE_URL=postgresql://user:password@localhost:5432/markdown_tools

# Server
HOST=localhost
PORT=8080

# AWS
AWS_REGION=ap-south-1
AWS_ACCESS_KEY=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
S3_BUCKET_NAME=pdf-and-markdown

# RabbitMQ
CLOUDAMQP_URL=amqps://username:password@rabbitmq-host:5672/vhost

# Queue topology
QUEUE=pdf-processing
EXCHANGE=amq.direct
PATTERN=pdf
